In [ ]:
import numpy as np
import pandas as pd
import sklearn

from sklearn.datasets import load_boston
df = load_boston()

In [4]:
df.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [ ]:
print(df.data)

In [ ]:
print(df.target)

In [ ]:
print(df.feature_names)

In [ ]:
print(df.DESCR)

In [6]:
print(df.filename)

boston_house_prices.csv

In [12]:
print(df.data_module)

sklearn.datasets.data

In [ ]:
boston = pd.DataFrame(df.data, columns=df.feature_names)
boston.head(50)

In [26]:
boston['MEDV'] = df.target
boston.head(100)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Median_Value,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.12204,0.0,2.89,0.0,0.445,6.625,57.8,3.4952,2.0,276.0,18.0,357.98,6.65,28.4,28.4
96,0.11504,0.0,2.89,0.0,0.445,6.163,69.6,3.4952,2.0,276.0,18.0,391.83,11.34,21.4,21.4
97,0.12083,0.0,2.89,0.0,0.445,8.069,76.0,3.4952,2.0,276.0,18.0,396.90,4.21,38.7,38.7
98,0.08187,0.0,2.89,0.0,0.445,7.820,36.9,3.4952,2.0,276.0,18.0,393.53,3.57,43.8,43.8
99,0.06860,0.0,2.89,0.0,0.445,7.416,62.5,3.4952,2.0,276.0,18.0,396.90,6.19,33.2,33.2

In [ ]:
boston.isnull()

In [ ]:
boston.isnull().sum()

In [27]:
from sklearn.model_selection import train_test_split

X = boston.drop('MEDV', axis=1)
Y = boston['MEDV']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(430, 14)
(76, 14)
(430,)
(76,)

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [29]:
lin_model= LinearRegression()

lin_model.fit(X_train, Y_train)

LinearRegression()

In [30]:
Y_train_predict = lin_model.predict(X_train)
rmse=(np.sqrt(mean_squared_error(Y_train, Y_train_predict)))

print("The model performance for training set")
print('RMSE is {}'.format(rmse))
print("\n")

Y_test_predict = lin_model.predict(X_test)
rmse=(np.sqrt(mean_squared_error(Y_test, Y_test_predict)))

print("The model performace for testing set")
print('RMSE is {}'.format(rmse))

The model performance for training set
RMSE is 2.3763294265755133e-14


The model performace for testing set
RMSE is 2.2888570926485887e-14